@using BucketListAdventures.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AddUserProfileViewModel;
<form class="row g-3" asp-controller="UserProfile" asp-action="AddUserProfile" method="post">
    <div class="col-12">
        <label class="form-label">UserName :</label>
        <label class="form-label">@User.Identity.Name.ToString()</label>
    </div>
    <div class="col-12">
        <label asp-for="Name" class="form-label">Name :</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="alert-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Address" class="form-label">Address :</label>
        <input asp-for="Address" class="form-control" placeholder="1234 Main St"/>
        <span asp-validation-for="Address" class="alert-danger"></span>
    </div>
    <div class="col-12">
        <label class="form-label">Interests :</label>
        <div class="row">
            @for (int i = 0; i < @Model.UserInterests.Count; i++)
            {
                <div class="col-6 col-md-4 col-lg-2">
                    <input type="checkbox" name="Interests" value="@Model.UserInterests[i].UserInterest" asp-for="@Model.UserInterests[i].IsSelected" />
                    <label asp-for="@Model.UserInterests[i].IsSelected" class="form-label">@Model.UserInterests[i].UserInterest</label>
                    <input type="hidden" asp-for="@Model.UserInterests[i].UserInterest" />
                </div>
            }
        </div>
        <span asp-validation-for="Interests" class="alert-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-secondary">Cancel</button>
    </div>
</form>