
<img src="./images/Bucket compass.jpg" alt="Bucket compass" width="500" height="600">

@if (ViewBag.activityDetails != null)
{
    <h1>@ViewBag.activityDetails["name"]</h1>
    <p><b>Number Of Reviews:</b>@ViewBag.activityDetails["num_reviews"]</p>
    <p><b>Location:</b>@ViewBag.activityDetails["location_string"]</p>
    <p><b>Description:</b> @ViewBag.activityDetails["description"] </p>

    <p><b>URL:</b> <a href=@ViewBag.activityDetails["web_url"]>@ViewBag.activityDetails["name"]</a> </p>
    <b>Reviews</b>
    if (ViewBag.activityDetails["reviews"] != null)
    {
        @foreach (var review in ViewBag.activityDetails["reviews"])
        {
            <p><a href=@review.url>@review.published_date</a></p>
        }
    }
    else
    {
        <h4>Reviews are not available</h4>
    }
    if (ViewBag.activityDetails["photo"] != null)
    {
        <img src=@ViewBag.activityDetails["photo"]["images"]["medium"]["url"] alt="Img not available " />

    }
}
else
{
    <h4> Photo is not Available </h4>
}